@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primary */
  --p: 0.7484 0.111 196.52;
  --pc: 0.99 0 0;
  /* Secondary */
  --s: 0.63 0.1097 2.38;
  --sc: 0.99 0 0;
  /* Accent */
  --a: 0.82 0.092 42.41;
  --ac: 0.99 0 0;
  /* Success */
  --su: 0.75 0.0797 144.73;
  --suc: 0.99 0 0;
  /* Info */
  --in: 0.76 0.1028 220.14;
  --inc: 0.99 0 0;
  /* Warning */
  --wa: 0.79 0.1349 72.97;
  --wac: 0.99 0 0;
  /* Error */
  --er: 0.62 0.1694 25.05;
  --erc: 0.99 0 0;

  --b1: 1 0 0;
}

html,
body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

h1,
h2,
h3 {
  font-family: 'Work Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

.collapse-arrow > .collapse-title:after {
  top: 50%;
}

.collapse-title,
:where(.collapse > input[type='checkbox']),
:where(.collapse > input[type='radio']) {
  min-height: 2.75rem;
}
