@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Noto Sans');

:root {
  --p: 74.84% 0.111 196.52;
  --pc: 1 0 0;
  --b1: #ffffff;
}

.collapse-arrow > .collapse-title:after {
  top: 50%;
}

.collapse-title,
:where(.collapse > input[type='checkbox']),
:where(.collapse > input[type='radio']) {
  min-height: 2.75rem;
}
